
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-ig:before { content: '\f16d'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-fb:before { content: '\f308'; } /* '' */